* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron';
}

table {
  margin: 50px auto;
}

.square {
  width: 100px;
  height: 100px;
  background-color: aqua;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 26px;
}

.container {
  width: 300px;
  height: 300px;
}

.header {
  margin-top: 50px;
}

.swell {
  color: red;
  background-color: blue;
}
